VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=ya-voy-b451d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ya-voy-b451d
VITE_FIREBASE_APP_ID=1:...:web:...
VITE_API_URL=http://localhost:3001
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_SENTRY_DSN=https://...@sentry.io/...
VITE_OCR_KEY=
